    <p style="FONT-SIZE: 13px; MARGIN-BOTTOM: 0px; FONT-FAMILY: Arial,sans-serif; COLOR: rgb(33,33,33); LINE-HEIGHT: 14px"/>
      <span style="DISPLAY: inline; font-color: rgb(33, 33, 33)"><b>Barry Russell</b></span>
      <span style="DISPLAY: inline"><br/></span>
      <span style="COLOR: rgb(33,33,33); DISPLAY: inline"><i></i></span>
      <span style="DISPLAY: inline"><br/></span><span style="COLOR: rgb(33,33,33); DISPLAY: inline"></span>
      <span style="DISPLAY: inline"><br/></span><span style="COLOR: rgb(33,33,33); DISPLAY: inline"></span>
      <p style="FONT-SIZE: 13px; MARGIN-BOTTOM: 0px; FONT-FAMILY: Arial,sans-serif; COLOR: rgb(33,33,33); LINE-HEIGHT: 14px"></p>
      <img src="https://forteracu.com/images/icons/SignatureLogo.png"/>
      <p>
        <span style="DISPLAY: inline">
          <p style="FONT-SIZE: 12px; FONT-FAMILY: Arial, sans-serif; COLOR: #212121" align="justify">NOTICE: This E-mail (including attachments) is covered by the
          Electronic Communications Privacy Act, 18 U.S.C. § 2510-2521, is confidential
          and may be legally privileged. If you are not the intended recipient, you are
          hereby notified that any retention, dissemination, distribution or copying of
          this communication is strictly prohibited. Please reply to the sender that you
          have received the message in error, and then delete it. Fortera Credit Union
          NMLS# 446858 <a href="https://www.nmlsconsumeraccess.org">www.nmlsconsumeraccess.org</a>.
          Equal Housing Lender. Insured by the NCUA.
          </p>
        </span>
        <br/>
     </p>
